<head>
  <title>
    Vista Cliente
  </title>
</head>

{%extends 'plantillaCliente.html'%}
{%block body%}
<div class="container">


    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}

<br>
<div class="container">
  <div class="row">

    <div class="col">
      <div class="card text-center">
        <div class="card-header" style="color: white; background-color: #4D64A4;">
          MI PERFIL
        </div>

        <form action="/actualizarPerfilCliente/{{personal.2}}" method="POST" class="card-body">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Nombre</span>
            <input type="text" name="txtnombre" class="form-control" id="basic-url" aria-describedby="basic-addon3"
              value="{{personal.3}}">
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" name="txtmail" placeholder="E-MAIL"
              aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{personal.4}}">
            <span class="input-group-text" id="basic-addon2">@macuindash.com</span>
          </div>


          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Domicilio</span>
            <input type="text" class="form-control" name="txtdomicilio" id="basic-url" value="{{personal.7}}"
              aria-describedby="basic-addon3">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Departamento</span>
            <input type="text" name="txtdepartamento" class="form-control" id="basic-url"
              aria-describedby="basic-addon3" value="{{personal.1}}" disabled>




            <span class="input-group-text" id="basic-addon3"> Telefono</span>
            <input type="text" class="form-control" name="txttelefono" id="basic-url" aria-describedby="basic-addon3"
              value="{{personal.9}}">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">TIPO</span>
            <input type="text" name="txttipo" class="form-control" id="basic-url" aria-describedby="basic-addon3"
              value="{{personal.12}}" disabled>

          </div>



          <div class="input-group">
            <div class=" text-muted">
              <button class="btn btn-outline-primary" >Actualizar</button>
              <a href="/perfilCliente/{{loguser}}" class="btn btn-outline-primary" >Cancelar</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{%endblock%}