{%extends 'plantilla.html'%}
{%block body%}
<div class="container">

    <div class="display-5 text-dark text-center mt-5 mb-5"> Actualizar los Departamentos </div>
    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}

    <div class="container position-relative">
        <div class="row col-7 position-absolute top-0 start-50 translate-middle-x ">
            
            
                <div class="card ">
                    
                        <form class="row g-3 text-center mt-2 mb-3  " >
                            
                            <div class="col-12  ">
                                
                                <label for="inputEmail4" class="form-label ">Nombre</label>
                                <input type="text" class="form-control " id="inputEmail4">
                            </div>
                        
                            <div class="col-12">
                                <a href="/adminDepartamentos" class="btn btn-warning">Actualizar</a>
                                <a href="/adminDepartamentos" class="btn btn-danger">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            
        </div>
    </div>







</div>
{%endblock%}