{%extends 'plantilla.html'%}
{%block body%}
<div class="container">

    <div class="display-5 text-dark text-center mt-5 mb-5"> Actualizar de Personal </div>
    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}

  <form action="/actualizarPersonal/{{personal.2}}/{{loguser}}" method="POST">

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Nombre</span>
      <input type="text" name="txtnombre" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{personal.3}}">
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" name="txtmail" placeholder="E-MAIL" aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{personal.4}}">
        <span class="input-group-text" id="basic-addon2" >@macuindash.com</span>
      </div>
      
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Domicilio</span>
        <input type="text" class="form-control" name="txtdomicilio" id="basic-url" value="{{personal.7}}" aria-describedby="basic-addon3">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Departamento</span>
        <select name="txtdepartamento" id="" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="">
          
          <option disabled>{{personal.1}}</option>
          {%for usu in usuario%}          
          <option value="{{usu.0}}">{{usu.1}}</option>
          {%endfor%}
        </select>
        

        <span class="input-group-text" id="basic-addon3"> Telefono</span>
        <input type="text" class="form-control" name="txttelefono" id="basic-url" aria-describedby="basic-addon3" value="{{personal.9}}">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">TIPO</span>
        <select name="txttipo" id="" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{personal.12}}">
            
            {%for rol in roles%}
            <option value="{{rol.0}}">{{rol.1}}</option>
            {%endfor%}

        </select>

        <input type="file" class="form-control" id="inputGroupFile02" name="txtimagen">
        <label class="input-group-text" for="inputGroupFile02">Foto</label>
      </div>
      
      <div class="input-group">
        <div class="card-footer text-muted">
            <button  class="btn btn-warning">ACTUALIZAR</button>
            <a href="/adminClandAux/{{loguser}}" class="btn " style="color: black; background-color: #CD6155;">Cancelar</a>
          </div> 
      </div>
  </form>
</div>
{%endblock%}