{%extends 'plantilla.html'%}
{%block body%}
<div class="container">

    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}
    <br>
    <div class="container">
        <div class="row">

            <div class="col">

                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                       COMENTARIOS
                    </div>
                    
                    <div class="card-body" >
                        <form action="/ComentarioCliente/{{ticket.0}}" method="POST">
                            <button type="submit" class="btn " style="color: black; background-color:#C39BD3;">Cliente</button>
                        </form>
                        
                        <form action="/ComentarioAuxiliar/{{ticket.0}}" method="POST">
                            <button type="submit" class="btn " style="color: black; background-color:#C39BD3;">Auxiliar</button>
                        </form>
                        
                    </div>
                    
                </div>
            </div>
            
            
        </div>
    </div>
    
    







</div>
{%endblock%}