
<head>
    <title>
        Vista Admin
    </title>
</head>


{%extends 'plantilla.html'%}
{%block body%}
<div class="container">

    <br>
    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    <ul class=flashes>
        {%for msj in mensaje%}
    
        <div class="alert alert-warning alert-dismissible mb-3" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ msj }}
        </div>
    
    </ul>
    
    {%endfor%}
    {%endif%}
    {%endwith%}

    <div>
        <form class="d-flex" method="post" action="/adminClandBusqueda/{{loguser}}">
            <input class="form-control me-2" type="search" name="search"  placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
            <a href="/loginCrear/{{loguser}}" class="btn btn-outline-primary">Nuevo</a>
        </form>
    </div><br>

    <div class="container">
        <div class="row">
            
            {%for usu in usuario%}
            
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: MidnightBlue;">
                        {{usu.2}}
                    </div>
                    <div class="card-body">
                        <label class="card-title">{{usu.0}}</label><br>
                        <label class="card-text">{{usu.3}}</label><br>
                        <label class="card-text">{{usu.4}}</label><br>   
                    </div>
                    <div class="card-footer text-muted">
                        <a href="/editarPersonal/{{usu.1}}/{{loguser}}" class="btn btn-outline-primary">Actualizar</a>
                        <a href="/eliminarPersonal/{{usu.1}}/{{loguser}}" class="btn btn-outline-primary">Eliminar</a>
                      </div> 
                </div>
                <br>
            </div> 
            {%endfor%}
            

        </div>
    </div>

{%endblock%}