{%extends 'plantilla.html'%}
{%block body%}
<div class="container">

    <div class="display-5 text-dark text-center mt-5 mb-5"> Administrador de Departamentos </div>
    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}
    <div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
            <button href="/crearPersonal" class="btn btn-outline-success">Nuevo</button>
          </form>
    </div><br>

    <div class="container">
        <div class="row">

            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        COMPRAS
                    </div>
                    <div class="card-body">
                        <a href="/ActualizarDepartamentos" class="btn btn-warning">Actualizar</a>
                        <a href="/EliminarDepartamentos" class="btn btn-danger">Eliminar</a>
                        
                    </div>
                    
                    
                </div>
            </div>
            
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        CONTABILIDAD
                    </div>
                    <div class="card-body">
                        <a href="/ActualizarDepartamentos" class="btn btn-warning">Actualizar</a>
                        <a href="/EliminarDepartamentos" class="btn btn-danger">Eliminar</a>
                    
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        LOGISTICA
                    </div>
                    
                    <div class="card-body">
                        <a href="/ActualizarDepartamentos" class="btn btn-warning">Actualizar</a>
                        <a href="/EliminarDepartamentos" class="btn btn-danger">Eliminar</a>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        PRODUCCIÓN
                    </div>
                    
                    <div class="card-body">
                        <a href="/ActualizarDepartamentos" class="btn btn-warning">Actualizar</a>
                        <a href="/EliminarDepartamentos" class="btn btn-danger">Eliminar</a>
                    
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        VENTAS
                    </div>
                    
                    <div class="card-body">
                        <a href="/ActualizarDepartamentos" class="btn btn-warning">Actualizar</a>
                        <a href="/EliminarDepartamentos" class="btn btn-danger">Eliminar</a>
                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        NUEVO
                    </div>
                    <div class="card-body">
                        <a href="/CrearDepartamentos" class="btn btn-success">Crear</a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>







</div>
{%endblock%}