{%extends 'plantilla.html'%}
{%block body%}
<div class="container">

    <div class="display-5 text-dark text-center mt-5 mb-5"> Administrador de Departamentos </div>
    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}
    <div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
            <img src="img/busqueda.png">
            <a href="/CrearDepartamentos" class="btn btn-outline-success">Nuevo</a>
          </form>
    </div><br>



    <div class="container">
        <div class="row">
            {%for depa in departamento%}
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        {{depa.1}}
                    </div>
                    <div class="card-body">
                        <label class="card-title">{{depa.0}}</label><br>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="/ActualizarDepartamentos/{{depa.0}}" class="btn btn-danger">Actualizar</a><br><br>
                        <a href="/eliminarPersonal/{{depa}}/{{depa.0}}" class="btn btn-warning">Eliminar</a>
                      </div> 
                </div>
                <br>
            </div> 
            {%endfor%}
            

        </div>
    </div>



</div>
{%endblock%}