{%extends 'plantilla.html'%}
{%block body%}
<div class="container">

    <div class="display-2 text-primary text-center mt-5 mb-5"> Bienvenido a Macuin Dashboards </div>
    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}

    <div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
            <a href="/loginCrear" class="btn btn-outline-success">Nuevo</a>
          </form>
    </div><br>

    <div class="container">
        <div class="row">
            {%for usu in usuario%}
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        {{usu.1}}
                    </div>
                    <div class="card-body">
                        <label class="card-title">{{usu.9}}</label><br>
                        <label class="card-text">{{usu.2}}</label><br>
                        <label for="">{{usu.7}}</label>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="/actualizarPersonal/ {{usu.0}}" class="btn btn-danger">Actualizar</a>
                        <a href="/eliminarPersonal/ {{usu.0}}" class="btn btn-warning">Eliminar</a>
                      </div> 
                </div>
                <br>
            </div> 
            {%endfor%}
            

        </div>
    </div>

{%endblock%}