{%extends 'plantillaCliente.html'%}
{%block body%}
<div class="container">

    <div class="display-5 text-dark text-center mt-5 mb-5"> MIS SOLICITUDES </div>
    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}
    <div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
           
            <a href="/crearSolicitud/{{loguser}}" class="btn btn-outline-success">Nuevo</a>
          </form>
    </div><br>



    <div class="container">
        <div class="row">
            {%for miSoli in miSolicitud %}
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: green;">
                        <label for="inputEmail4" class="form-label">{{miSoli.1}}</label>
                    </div>
                    <div class="card-body">
                        <label for="inputEmail4" class="form-label">{{miSoli.2}}</label>
                        
                    </div>
            
                    <div class="card-footer text-muted">
                        <a href="/EliminarSolicitud/{{loguser}}/{{miSoli.0}}" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
                <br>
            </div> 
            {%endfor%}
            
            
            

        </div>
    </div>



</div>
{%endblock%}