{%extends 'plantilla.html'%}
{%block body%}
<div class="container">

    <div class="display-5 text-dark text-center mt-5 mb-5"> Administrador de Tickets </div>
    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}
    <div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
    </div><br>

    <div class="container">
        <div class="row">

            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        TICKETS
                    </div>
                    <div class="card-body">
                        <a href="/adminAsignar" class="btn btn-info">Asignar</a>
                        <a href="/adminComentario"class="btn btn-primary">Comentario</a>
                    </div>
                    
                </div>
            </div>
            
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        TICKETS
                    </div>
                    <div class="card-body">
                        <a href="/adminAsignar" class="btn btn-info">Asignar</a>
                        <a href="/adminComentario" class="btn btn-primary">Comentario</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        TICKETS
                    </div>
                    <div class="card-body">
                        <a href="/adminAsignar" class="btn btn-info">Asignar</a>
                        <a href="/adminComentario" class="btn btn-primary">Comentario</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: #4D64A4;">
                        TICKETS
                    </div>
                    <div class="card-body">
                        <a href="/adminAsignar" class="btn btn-info">Asignar</a>
                        <a href="/adminComentario" class="btn btn-primary">Comentario</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    







</div>
{%endblock%}