<head>
    <title>
        Vista Cliente
    </title>
</head>

{%extends 'plantillaCliente.html'%}
{%block body%}
<div class="container">

    <div class="display-5 text-dark text-center mt-5 mb-5"> MIS SOLICITUDES </div>
    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}
    <div>
        <form class="d-flex" method="post" action="/clienteSolicitudBusqueda/{{loguser}}">
            <input class="form-control me-2" type="search" name="buscar" placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        
           
            <a href="/crearSolicitud/{{loguser}}" class="btn btn-outline-success">Nuevo</a>
        </form>
    </div><br>



    <div class="container">
        <div class="row">
            {%for miSoli in miSolicitud %}
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: MidnightBlue;">
                        <label for="inputEmail4" class="form-label">{{miSoli.1}}</label>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="txtmail " type="text" name="txtmail">Detalle</span>
                            <label type="text" name="txtmail" class="form-control" placeholder="E-MAIL" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">{{miSoli.2}}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="txtmail " type="text" name="txtmail">Estatus</span>
                            <label type="text" name="txtmail" class="form-control" placeholder="E-MAIL" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">{{miSoli.3}}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="txtmail " type="text" name="txtmail">Clasificacion</span>
                            <label type="text" name="txtmail" class="form-control" placeholder="E-MAIL" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">{{miSoli.4}}
                        </div>
                        
                        
                    </div>
            
                    <div class="card-footer text-muted">
                        
                        <a href="/ComentariosAuxiliar/{{loguser}}/{{miSoli.0}}" class="btn btn-outline-primary">Comentario</a>

                        <a href="/EliminarSolicitud/{{loguser}}/{{miSoli.0}}" 
                        class="btn btn-outline-primary">Cancelar</a>

                        <a href="/NuncaSolicitud/{{loguser}}/{{miSoli.0}}" class="btn btn-outline-primary">Nunca solucionado</a>
                    </div>
                </div>
                <br>
            </div> 
            {%endfor%}
            
            
            

        </div>
    </div>



</div>
{%endblock%}