<head>
    <title>
        Vista Admin
    </title>
</head>

{%extends 'plantilla.html'%}
{%block body%}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    
                        <form action="/insertDepas/{{loguser}}" method="POST" class="row g-3 col-12">
                            <div class="card-body">
                                <label class="form-label">Nombre</label>
                                <input type="text"  class="form-control" name="nombreDepa" >
                            </div>
                        
                            <div class="card-footer text-muted">
                                <button type="submit" class="btn btn-outline-primary">Guardar</button>
                                <a href="/adminDepartamentos/{{loguser}}" class="btn btn-outline-primary">Cancelar</a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>





</div>
{%endblock%}