<head>
    <title>
        Vista Cliente
    </title>
</head>

{%extends 'plantillaCliente.html'%}
{%block body%}
<div class="container">
    <br>

    {%with mensaje = get_flashed_messages() %}
    {%if mensaje%}
    {%for msj in mensaje%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msj }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endfor%}
    {%endif%}
    {%endwith%}

    
    <div class="container">
        <div class="row">
    
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="color: white; background-color: MidnightBlue">
                       MI PERFIL
                    </div>
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="input-group mb-1">
                                <img src="data:image/jpeg;base64,{{imagen_base64}}" width="150" height="100">
                            </div>
                            {%for aux in consultaAuxi%}
                            
                            <div class="input-group mb-1">
                                <span class="input-group-text" id="basic-addon3" style="background-color: white;">Nombre</span>
                                <input type="text" name="txtnombre" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{aux.3}}" disabled>
                            </div>

                            <div class="input-group mb-1">
                                <span class="input-group-text" style="background-color: white;" id="basic-addon3">Departamento</span>
                                <input type="text" name="txtdepartamento"  class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{aux.1}}" disabled>
                        
                                <span class="input-group-text" id="basic-addon3" style="background-color: white;" id="basic-addon3">Tipo de empleado</span>
                                <input type="text" name="txtdepartamento" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                    value="{{aux.12}}" disabled>
                            </div>

                            <div class="input-group mb-1">
                                <span class="input-group-text" style="background-color: white;" id="basic-addon3">Direccion</span>
                                <input type="text" name="txtdepartamento" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                    value="{{aux.7}}" disabled>
                            
                                <span class="input-group-text" id="basic-addon3" style="background-color: white;" id="basic-addon3">Telefono</span>
                                <input type="text" name="txtdepartamento" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                    value="{{aux.9}}" disabled>
                            </div>
                            <div class="input-group mb-1">
                                <span class="input-group-text" style="background-color: white;" id="basic-addon3">Correo</span>
                                <input type="text" name="txtdepartamento" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                    value="{{aux.4}}" disabled>
                                
                                <span class="input-group-text" style="background-color: white;" id="basic-addon3">Contraseña</span>
                                <input type="text" name="txtdepartamento" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                    value="{{aux.5}}" disabled>
                        
                            </div>
                            
                            {%endfor%}
                            <div class="card-body" style="color: white; text-align: right" >
                                <a href="/editarPerfilCliente/{{loguser}}" class="btn btn-outline-primary" >Actualizar</a>
                                
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
{%endblock%}